/*******
******** Custom
*******/

.ananda-module-container{}
.ananda-header{}
.navigation-top{}
.navigation-bottom{}
.ananda-maincontent{}
.ananda-footer{}


.ananda-headerfull img{width:100%;}

.textcenter{text-align:center;}
.margintop{margin-top:1em;}
.marginleft{margin-left:1em;}
.marginright{margin-right:1em;}
.marginbottom{margin-bottom:1em;}

